body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-family: 'Playfair Display', serif;
  color: #fff;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #1f222b;
}
